.button {
    padding: 6px 20px;
    border-radius: 2px;
    background-color: #2C98F0;
    color: #fff;
    margin-right: 14px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}
